[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-htmx = "===1.8.0"
django-widget-tweaks = "==1.4.12"
django-taggit = "==2.1.0"
markdown = "==3.3.6"
psycopg2 = "*"
django = "==3.2.18"

[dev-packages]

[requires]
python_version = "3.8"
